body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}


 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    background-color: #2ecc71; /* Green button color */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.buttons button:hover {
    background-color: #27ae60; /* Darker green on hover */
}

 
